body{
    background-color: royalblue;
}

form {
    display: block;
    width: 55%;
    margin: auto;
    background-color: white;
}

#logoutContainer {
    margin: 15em auto;
}

h1{
    text-align: center;
    padding: 1.5em 0;
}