form {
    display: block;
    width: 55%;
    margin: auto;
}

#logoutContainer {
    margin: 15em auto;
}

.news {
    display: block;
    width: 55%;
    height: 100vh;
    margin: auto;
    border: solid black 1px;
}

h1{
    text-align: center;
    padding: 1.5em 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}