body{
    height: 100vh;
}

form {
    display: block;
    width: 55%;
    margin: auto;
}

#logoutContainer {
    width: 10em;
    position: absolute;
    top: 0;
    right: 0;
}

.news {
    display: block;
    width: 55%;
    height: 100vh;
    margin: auto;
    border: solid black 1px;
}

h1{
    text-align: center;
    padding: 1em 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}

p {
    width: 90%;
    margin: 3em auto 0 auto;
}

.articleImg{
    width: 90%;
    display: block;
    margin: 0 auto 0 auto;
    max-height: 50%;
}